name: Build 

on:
  push:
    branches:
      - main
  pull_request:
    types: [opened, synchronize, reopened]

jobs:
  sonarqube:
    name: SonarQube Analysis
    runs-on: windows-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          fetch-depth: 0  # necessario per alcune analisi SonarQube

      - name: SonarQube Scan
        uses: SonarSource/sonarqube-scan-action@v6
        env:
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}        # token SonarCloud/SonarQube
          SONAR_HOST_URL: ${{ secrets.SONAR_HOST_URL }}  # es. https://sonarcloud.io
        with:
          projectBaseDir: "."                             # dove si trova il sonar-project.properties
          projectKey: "Simon02-jpg_ISPW2025"             # obbligatorio
          organization: "simon02-jpg-1"                  # obbligatorio su SonarCloud
